/* Glowing animation on selected entries */
@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px var(--glow-color)) blur(15px);
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(0 0 20px var(--glow-color)) blur(3px);
    transform: scale(1);
  }
  100% {
    filter: drop-shadow(0 0 5px var(--glow-color)) blur(15px);
    transform: scale(1);
  }
}

.selectedEntry {
  animation: glow 1.5s infinite ease-in-out;
  transition: all 0.3s ease-in-out;
}